.header-menu-btn {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  background-image: url('../../images/navmenu.svg');
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .header-menu-btn {
    width: 23px;
    height: 23px;
    margin-right: 9px;
  }
}
