.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__link {
  text-decoration: none;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-left: 20px;
}

.header-nav__link:hover {
  color:rgba(0, 0, 0, .7)
}

.profile-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 50px;
}

.profile-btn:hover {
  .profile-btn__icon {
    background-color: #2BE080;
  }

  .profile-btn__icon_location_land {
    background-image: url(../../images/profile_black.svg);
  }

  .profile-btn__text {
    color: rgba(0, 0, 0, .7);
  }
}

.profile-btn__text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.profile-btn__icon {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  transition: background-color .2s ease-out;
}

.profile-btn__icon_location_land {
  background-image: url(../../images/profile_pink.svg);
  background-color: #000;
}

.profile-btn__icon__location_main {
  background-image: url(../../images/profile_black.svg);
  background-color: #F9F9F9;
}