.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  max-width: 1280px;
  align-self: center;
}

.movies__search {
  display: flex;
  flex-direction: row;
  height: 72px;
  border-radius: 9px;
  background-color: #FDFDFD;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  margin: 0 70px 80px;
}

.form__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form__icon {
  width: 34px;
  height: 34px;
  margin: 19px 10px 19px 19px;
}

.form__input {
  border: none;
  color: #A0A0A0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 25px 10px 25px 0;
  outline: none;
  width: 800px;
}

.form__button {
  border-radius: 48px;
  background: #000;
  width: 58.65px;
  height: 34px;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  padding: 0;
  border: none;
}

.form__divider {
  width: 1px;
  height: 40px;
  border-right: 1px solid #CBCBCB;
  margin: 0 29px 0 19px;
}

.form__switch {
  display: flex;
  opacity: 0;
  position: absolute;
}

.switch-base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34px;
  height: 14px;
  border-radius: 20px;
  background-color: #EBEBEB;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.switch-base_active {
  background-color: #2BE080;
}

.switch-inner {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #F5F5F5;
  margin: 0 2px;
  align-self: flex-start;
  transition: all 0.2s ease-in-out;
}

.switch-inner_active {
  background-color: #FFF;
  margin-left: 22px;
}

.form__switch-label {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0 30px 0 14px;
}

.movies__divider {
  width: 1140px;
  height: 1px;
  border-bottom: 1px #E8E8E8 solid;
}

.movies__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 30px;
  align-self: center;
  padding: 70px 70px 28px;
}

.movies__button {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background-color: #F9F9F9;
  border: none;
  cursor: pointer;
  margin: 50px 0 0;
  transition: background-color 0.2s ease-in-out;
}

.movies__button:hover {
  background-color: rgba(248, 248, 248, .7);
}