.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 0 62px;
}

.header_location_land {
  background-color: #F3C1F8;
}

@media screen and (min-width: 430px) and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .header {
    padding: 0 14px;
  }
}