.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 172px;
  padding: 110px 70px 0px;
}

.footer__text {
  color: #A0A0A0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
}

.footer__divider {
  height: 1px;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px -7px 0 9px;
}

.footer__container-item {
  margin: 0;
  color: #000;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__container-links {
  display: flex;
}

.footer__link {
  text-decoration: none;
}

.footer__link:first-of-type {
  margin: 0 20px 0 0;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .footer {
    padding: 101px 30px 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .footer {
    height: 253px;
    padding: 79px 10px 20px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__container {
    flex-direction: column-reverse;
    margin: 30px 0 0;
  }

  .footer__container-item {
    font-size: 12px;
  }

  .footer__year {
    color: #A0A0A0;
  }

  .footer__container-links {
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px;
  }

  .footer__link:first-of-type {
    margin: 0 0 12px;
  }
}