.techs {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #F5F5F5;
  max-width: 1280px;
  height: 625px;
}

.techs__header {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 100px 70px 0;
  align-self: flex-start;
}

.techs__divider {
  border-bottom: 1px solid #000;
  height: 1px;
  width: 1140px;
  margin: 23px 70px 90px;
}

.techs__strong {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 0 26px;
}

.techs__paragraph {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 0;
}

.techs__icons-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 100px 0;
}

.techs__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #E8E8E8;
  margin: 0 5px;
}

.techs__icon-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  margin: 0;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .techs {
    max-width: 768px;
    height: 567px;
  }

  .techs__header {
    margin: 90px 50px 0;
  }

  .techs__divider {
    width: 668px;
    margin: 23px 50px 80px;
  }

  .techs__strong {
    margin: 0 0 22px;
  }

  .techs__paragraph {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__icons-container {
    margin: 83px 0 90px;
  }

  .techs__icon {
    width: 84px;
    height: 57px;
  }

  .techs__icon-text {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .techs {
    max-width: 430px;
    height: 651px;
    background-color: #fff;
    padding: 0 0 70px;
  }

  .techs__header {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin: 60px 0 0;
  }

  .techs__strong {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .techs__paragraph {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .techs__divider {
    width: 100%;
    margin: 23px 0 80px;
  }

  .techs__icons-container{
    display: grid;
    grid-auto-flow: row;
    gap: 10px 0;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin: 50px 0 0;
  }

  .techs__icon {
    width: 84px;
    height: 57px;
  }

  .techs__icon-text {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .techs {
    max-width: 320px;
    padding: 18px;
  }

  .techs__divider {
    width: 100%;
    align-self: center;
  }
}