.login {
  display: flex;
  justify-content: center;
  margin: 70px 0 0;
}

.login__container {
  display: flex;
  flex-direction: column;
}

.login__header {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 396px;
  align-self: flex-start;
  margin: 40px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form__label {
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-start;
}

.login-form__input {
  width: 396px;
  min-height: 46px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  background-color: #F9F9F9;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 15px;
  margin: 10px 0 20px;
}

.login-form__error {
  visibility: hidden;
  color: #FF4062;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-height: 10px;
}

.login-form__error_visible {
  visibility: visible;
}

.login-form__input:focus {
  outline: solid 1px #A0A0A0;
}

.login-form__input:last-of-type {
  margin-bottom: 0;
}

.login-form__submit-button {
  padding: 0;
  width: 396px;
  min-height: 45px;
  border-radius: 3px;
  background-color: #000;
  text-align: center;
  border-style: none;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 179px 0 16px;
  padding: 0;
}

.login-form__submit-button:hover {
  background-color: rgba(0, 0, 0, .8)
}

.login__text {
  margin: 0;
  color: #A0A0A0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__link {
  margin: 0;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.login__link:hover {
  color:rgba(0, 0, 0, .7)
}

.login-form__submit-button:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, .4);
}

@media screen and (min-width: 430px) and (max-width: 768px) {
  .login {
    margin: 232px 0 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .login {
    margin: 56px 0 0;
  }
  
  .login__container {
    align-items: center;
    justify-content: center;
  }

  .login__logo {
    align-self: center;
  }

  .login__header {
    align-self: center;
    margin: 50px 0 80px;
  }

  .login-form {
    max-width: 260px;
  }

  .login-form__label {
    align-self: flex-start;
  }

  .login-form__input {
    width: 260px;
    align-self: center
  }

  .login-form__submit-button {
    margin: 267px 0 14px;
    width: 260px;
  }

  .login__text {
    font-size: 12px;
  }

  .login__link {
    font-size: 12px;
  }
}